html {
  box-sizing: border-box;
  font: normal 100%/1.5 Georgia, serif;
  background-color: #f0eee8;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.link-card {
  margin: .5rem;
  display: block;
  background-color: #f0eee8;
  color: #fff;
  font-size: 1.125rem;
  border-width: 3px;
  padding: 1em;
  border: 3px solid #cabdb2;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
}

.link-card h2 {
  font-family: Dosis, sans-serif;
  color: #512200;
  display: block;
  margin: 0;
  font-size: 1.5rem;
  text-align: left;
}

.block-1 {
  border-bottom: 2px solid #cabdb2;
  text-align: left;
}

.stat {
  color: #512200;
  text-align: left;
  font-size: 1rem;
  line-height: 1.5rem;
}

.elements {
  display: inline-block;
  color: #512200;
  text-align: left;
  line-height: 1.5rem;
  border-bottom: 2px solid #cabdb2;
}

dt,
dd {
  display: inline-block;
  font-size: .875rem;
}

dd {
  margin: 0;
  font-style: italic;
}

dt {
  width: 50%;
}

.btn {
  display: inline-block;
}

span {
  display: block;
  background-color: #785439;
  color: #fff;
  border-radius: 8px;
  font-family: Dosis, sans-serif;
  text-align: center;
  padding: .4em .75em .5em;
}

.link-card:hover {
  background-color: #dcd4cd;
}

.btn-wrap {
  padding-top: 1rem;
}
