html {
  box-sizing: border-box;
  font: normal 100%/1.5 Georgia, serif;
  background-color: #f0eee8;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 1rem;
  display: block;
  background-color: #dcd4cd;
  color: #fff;
  font-size: 1.125rem;
  border-width: 3px;
  padding: .4em .75em .3em;
  border: 3px solid #9a816d;
  border-radius: 8px;
  text-align: center;
}

h2 {
  font-family: Dosis, sans-serif;
  color: #512200;
  display: block;
  margin: 0;
  font-size: 1.5rem;
  text-align: left;
}

.block-1 {
  border-bottom: 2px solid #9a816d;
  text-align: left;
}

.stat {
  color: #512200;
  text-align: left;
}

.elements {
  display: inline;
  color: #512200;
  text-align: left;
}

dt,
dd {
  display: inline-block;
}

dd {
  margin: 0;
  font-style: italic;
}

dt {
  width: 50%;
}

.btn {
  display: inline-block;
}

a {
  display: block;
  background-color: #785439;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  padding: .75rem;
  font-family: Dosis, sans-serif;
  text-align: center;
}
